{% set sensu = salt['pillar.get']('sensu', {}) -%}
{% from "sensu/map.jinja" import sensu_client with context %}
{
  "client": {
    "name": "{{ grains.id }}",
    "address": "{{ grains.ip_interfaces.eth0 }}",
    "subscriptions": [{% if 'osfinger' in grains -%}"{{ grains['osfinger'] }}",{% endif -%}{% if 'roles' in grains -%}{% for role in grains['roles'] -%}"role-{{ role }}",{% endfor -%}{% endif -%}{% for i in pillar -%}"pillar-{{ i }}",{% endfor -%}"all"]
  },
  "rabbitmq": {
    "ssl": {
      "cert_chain_file": "{{ sensu_client.sslpath }}cert.pem",
      "private_key_file": "{{ sensu_client.sslpath }}key.pem"
    },
    "host": "{{ sensu.rabbitmq.get('host') }}",
    "port": {{ sensu.rabbitmq.get('port') }},
    "vhost": "{{ sensu.rabbitmq.get('vhost') }}",
    "user": "{{ sensu.rabbitmq.get('user') }}",
    "password": "{{ sensu.rabbitmq.get('pass') }}"
  }
}